<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Capital</th>
            <!-- <th scope="col">Currency</th> -->
            <th scope="col">Languages</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let country of countryList">
            <tr >
                <td><img [src]="country.flags.png" height="20px" width="20px" (click)="animation(country)" /></td>
                <td><label (click)="openPopup(country)">{{country.name.common}}</label></td>
                <td>{{country.capital}}</td>
                <!-- <td>{{getCurrency(country.currencies) | async}}</td> -->
                <td>{{country.languages | language}}</td>
                
            </tr>
        </ng-container>
        
    </tbody>
</table>