.show {
    display: block;
    background: rgba(0, 0, 0, 0.5);
}

button.close span {
    font-size: 1.5rem;
    line-height: 1;
    color: gray;
}

button.close {
    background: 0;
    border: 0;
}

img{
    width: 150px;
    height: 150px;
}